{{ hostvars[linux_host]['r_security_updates']['stdout_lines'] | to_nice_yaml }}
{#
{% for key in hostvars[linux_host]['ansible_facts'] %}
           {{key}}
{% endfor %}
-------------------------------------
{% for sec_line in [sec_update][0]['stdout_lines'] %}
{{ sec_line }}
{% endfor %}#}